<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>HotPlace</title>
</head>
<body>
    <nav>
        nav영역
    </nav>
    <header>
        헤더영역
    </header>
    <main>
        인스타 크롤링한 내용 표시
        
    </main>
    <footer>
        푸터영역
    </footer>
</body>
</html>