<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>HotPlace</title>
</head>
<body>
    <nav>
        nav영역
    </nav>
    <header>
        헤더영역
    </header>
    <main>
        <table border="1">
            <th>순위</th>
            <th>장소이름</th>
            <th>url</th>
            <th>좋아요 수</th>
            {% for idx,data in result.iterrows %}
                <tr>
                    <td>{{ forloop.counter }}</td> <td>{{ data.location }}</td> <td><a href={{data.url}} target="_blank">{{ data.url }}</a></td> <td>{{ data.like }}</td>
                </tr>
            {% endfor %}
        </table>
    </main>
    <footer>
        푸터영역
    </footer>
</body>
</html>