<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>HotPlace</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav>
        nav영역
    </nav>
    <header>
        헤더영역
    </header>
    <main>
        메인영역
        <button class="insta"  onclick="start();">
            인스타 크롤링
        </button>
        <div class="loading">
            <div id="loading_title">연결중</div>
            <div class="data_searching" ></div>
            <div class="data_searching2" >
                <div class="data_searching3">
                    <div class="loading_bar"></div>
                </div>
                <div class="data_searching4" percent=0></div>
                <button id="okay" onclick="location.href='hotplace'" style="display: none;">확인</button>
            </div>
        </div>
    </main>
    <footer>
        푸터영역
    </footer>
</body>



<script>
    function sleep(sec) {
        return new Promise(resolve => setTimeout(resolve, sec * 1000));
    } 
   
    async function start(){
        a = document.getElementsByClassName("loading")
        a[0].style.display = "block"
        await insta(); 
        loading_title = document.getElementById("loading_title")
        data_searching = document.getElementsByClassName("data_searching")
        data_searching2 = document.getElementsByClassName("data_searching2")
        data_searching3 = document.getElementsByClassName("data_searching3")
        loading_bar= document.getElementsByClassName("loading_bar")
        data_searching4 = document.getElementsByClassName("data_searching4")
        loading_title.textContent = "데이터 수집중"
        data_searching[0].style.display="none"
        data_searching2[0].style.display="block"

        keywords=[ 
            "여행",
            "여행스타그램"
        ]
        // "여행스타그램",
        //     "여행추천",
        //     "여행에미치다",
        //     "핫플",
        //     "핫플투어",
        //     "핫플그램"
        number_of_posts = 2
        
        for (var idx in keywords){
            await insta2(keywords[idx],number_of_posts);
            l = getComputedStyle(loading_bar[0]).width
            l2 = parseInt(l.slice(0,-2))+(230/keywords.length)
            loading_bar[0].style.width = `${l2}px`
            console.log(`${l2}px`)
            data_searching4[0].setAttribute("percent",parseInt(data_searching4[0].getAttribute("percent"))+parseInt(100/keywords.length))
            await sleep(1.5)
        }
        data_searching4[0].setAttribute("percent",100)
        loading_title.textContent = "데이터 수집 완료"
        okay = document.getElementById("okay")
        okay.style.display="block"
    }
    function insta(){
        return $.ajax({
            type:'GET',
            url:'instacrawlsetting',
            dataType: 'text',
            success:function(text){
                console.log("접속여부 : "+text);
            },
            error : function(xhr,errmsg,err) {
                console.log("접속여부 : "+xhr.status + ": " + xhr.responseText); 
            }
        });
    }
    function insta2(keyword,number_of_posts){
        console.log(keyword,number_of_posts)
        return $.ajax({
            type:'GET',
            url:'instacrawlcrawling',
            data: {"keyword":keyword, "number_of_posts":number_of_posts},
            dataType: 'text',
            success:function(text){
                console.log("수집여부 : "+text);
            },
            error : function(xhr,errmsg,err) {
                console.log("수집여부 : "+xhr.status + ": " + xhr.responseText); 
            }
        });   
    }


    

</script>

</html>