<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>HotPlace</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav>
        nav영역
    </nav>
    <header>
        헤더영역
    </header>
    <main>
        메인영역
        <button class="insta"  onclick="start();">
            인스타 크롤링
        </button>
        <div class="loading">
            <div id="loading_title">연결중</div>
            <div class="data_searching" ></div>
        </div>
    </main>
    <footer>
        푸터영역
    </footer>
</body>



<script>
    async function start(){
        a = document.getElementsByClassName("loading")
        a[0].style.display = "block"
        await insta(); 
        loading_title = document.getElementById("loading_title")
        loading_bar = document.getElementsByClassName("dats_searching")
        loading_title.textContent = "데이터 수집중"
        loading_bar
        
        // await insta2();
    }
    function insta(){
        return $.ajax({
            type:'GET',
            url:'instacrawlsetting',
            dataType: 'text',
            success:function(text){
                console.log(text);
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); 
            }
        });
    }
    function insta2(){
        return $.ajax({
            type:'GET',
            url:'instacrawlcrawling',
            dataType: 'text',
            success:function(text){
                console.log(text);
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); 
            }
        });   
    }


    

</script>

</html>